doctype html
html(lang='en' style="padding: 50ps")
    head
        title Yerba Store

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="/stylesheets/style.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")

        script(src="https://code.jquery.com/jquery-1.11.1.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous")


    body
        block header
        block content
            div.container
                h2 SIGN IN

                form(action='login' method='post')
                    div.form-group
                        label(for='username') Username
                        input(type='text' name='username' id='username' class='form-control' placeholder='Username')
                    div.form-group
                        label(for='password') Password
                        input(type='password' name='password' id='password' class='form-control' placeholder='Password')
                    button(type='submit' class='btn btn-primary') Submit

            hr

        block footer
            include ../templates/footer