extends ../layout

block header
    include ../templates/header_admin

block content
    .container
        h1.col= title
        hr
        table.table
            thead
                tr
                    th(scope='col') ID
                    th(scope='col') User
                    th(scope='col') Date
                    th(scope='col') Price
                    th(scope='col') Status
            tbody
                - i = 0
                for order in orders
                    - i++
                    tr
                        th= order.order_id
                        td= order.user
                        td= order.date_time
                        td= currency + order.total
                        if (order.status === 0)
                            td= "Pending"
                        else if(order.status === 1)
                            td= "Complete"


                        td
                            .row
                                if (order.status === 0)
                                    button(type='submit' class= 'btn btn-success mb-1 px-mr-5' name='id_up' value=order.order_id form='update' + i) Update
                                    form(action='/admin/orders' method='post' id='update' + i).invisible
                                .p-2
                                    button.btn.btn-primary(type='submit' name='id_p' value=order.order_id form='prod' + i) Show
                                    form(action='/admin/order' method='post' id='prod' + i).invisible
