extends ../layout

block header
    include ../templates/header_admin

block content
    div.container
        h1.col= title
        button(type="button" class="btn btn-primary ml-3" data-toggle="modal" data-target="#exampleModal" ) Add
        hr
        div(class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
            div(class="modal-dialog" role="document")
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title" id="exampleModalLabel") Add product
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;

                    div(class="modal-body")
                        form(action='/admin/add' method='post' id='add')
                            div(class="form-group")
                                label(for="prod-name" class="col-form-label") Name:
                                input(type="text" class="form-control" id="prod-name" name='prod_name' placeholder='Name' required)
                            div(class="form-group")
                                label(for="prod-desc" class="col-form-label") Description:
                                input(type="text" class="form-control " id="prod-desc" name='prod_desc' placeholder='Description' required)
                            div(class="form-group")
                                label(for="prod-img" class="col-form-label") Image:
                                input(type="text" class="form-control " id="prod-img" name='prod_img' placeholder='Image path' required)
                            div(class="form-group")
                                label(for="prod-price" class="col-form-label") Price:
                                input(type="text" class="form-control " id="prod-price" name='prod_price' placeholder='Price' required)
                            div(class="form-group")
                                label(for="prod-stock" class="col-form-label") Stock:
                                input(type="text" class="form-control " id="prod-stock" name='prod_stock' placeholder='Stock' required)
                            //div(class="form-group")
                            //    div(class='form-check')
                            //        input(type="checkbox" class="form-check-input is-valid" value='' id="invalidCheck" required)
                            //        label(for='invalidCheck' class='form-check-label') confirmshop
                    div(class="modal-footer")
                        button(type="submit" class="btn btn-primary" form='add') Add


        table.table
            thead
                tr
                    th(scope='col') ID
                    th(scope='col') Name
                    th(scope='col') Description
                    th(scope='col') Image
                    th(scope='col') Price
                    th(scope='col') Stock
                    th(scope='col') Action
            tbody
                - i = 0
                for product in products
                    - i++
                    tr
                        th= product.product_id
                        td= product.name
                        td= product.description
                        td
                            img(src='/images/prod/' + product.image alt=product.name style='width: 100px')
                        td= currency + product.price
                        td= product.stock
                        td
                            button(type='submit' class= 'btn btn-success mb-1 px-mr-5' name='id_up' value=product.product_id form='update' + i) Update
                            button(type='submit' class= 'btn btn-danger' name='id_del' value=product.product_id form='delete' + i) Delete
                            form(action='/admin/update' method='post' id='update' + i).invisible
                            form(action='/admin/delete' method='post' id='delete' + i).invisible
