extends ../layout

block header
    include ../templates/header_admin

block content
    div.container
        h1= title
        hr
        h4 The most expensive
        hr
        table.table(style="max-width: 80% align: center")
            thead
                tr
                    th(scope='col') ID
                    th(scope='col') Name
                    //th(scope='col') Description
                    //th(scope='col') Image
                    th(scope='col') Price
                    th(scope='col') Stock
            tbody
                for product in products
                    tr
                        th= product.product_id
                        td= product.name
                        //td= product.description
                        //td= product.image
                        td= currency + product.price
                        td= product.stock
        hr
        h4 The most on stock
        hr
        table.table(style="max-width: 80% align: center")
            thead
                tr
                    th(scope='col') ID
                    th(scope='col') Name
                    //th(scope='col') Description
                    //th(scope='col') Image
                    th(scope='col') Price
                    th(scope='col') Stock
            tbody
                for product in products2
                    tr
                        th= product.product_id
                        td= product.name
                        //td= product.description
                        //td= product.image
                        td= currency + product.price
                        td= product.stock

