extends ../layout

block header
    include ../templates/header_admin

block content
    div.container
        label Product ID : #{product.product_id}
        form(action='/admin/update/sub'  method='post' id='update')
            div.form-group
                label(for="prod-name" class="col-form-label") Name:
                input(type="text" class="form-control" id="prod-name" name='prod_name' placeholder='Name' value=product.name required)
            div.form-group
                label(for="prod-desc" class="col-form-label") Description:
                input(type="text" class="form-control " id="prod-desc" name='prod_desc' placeholder='Description' value=product.description required)
            div.form-group
                label(for="prod-img" class="col-form-label") Image:
                input(type="text" class="form-control " id="prod-img" name='prod_img' placeholder='Image path' value=product.image required)
            div.form-group
                label(for="prod-price" class="col-form-label") Price:
                input(type="text" class="form-control " id="prod-price" name='prod_price' placeholder='Price' value=product.price required)
            div.form-group
                label(for="prod-stock" class="col-form-label") Stock:
                input(type="text" class="form-control " id="prod-stock" name='prod_stock' placeholder='Stock' value=product.stock required)
        button(type="submit" class="btn btn-primary" form='update' name="prod_id" value=product.product_id) Save