extends layout
block content
    section.jumbotron.text-center
        .container
            h1.jumbotron-heading SHOPPING CART
    .container.mb-4
        .row
            .col-12
                .table-responsive
                    table.table.table-striped
                        thead
                            tr
                                th(scope='col')
                                th(scope='col') Product
                                th(scope='col') Available
                                th.text-center(scope='col') Quantity
                                th.text-right(scope='col') Price
                                th.text-right.dripicons-trash(scope='col')
                                    a(href='/clear' style='color:black') Clear
                        tbody
                            if(cart_data && cart_data.length > 0)
                                - i = 0
                                each cart_product in cart_data
                                    - i++
                                    tr
                                        td
                                            a(href='/product/' + cart_product.product_id)
                                                img.img_50x50(src='/images/prod/' + cart_product.image alt='product img')
                                        td
                                            a(href='/product/' + cart_product.product_id style='color:black')= cart_product.name
                                        td In stock
                                        td.text-center= cart[cart_product.product_id]
                                        td.text-right= currency + cart_product.price
                                        td
                                    - var value = Math.round(cart[cart_product.product_id] * cart_product.price * 100) / 100
                                    - sub_total = (sub_total || 0) + value
                                    - total = sub_total
                                if (i === cart_data.length)
                                    tr
                                        td
                                        td
                                        td
                                        td
                                        td Sub-Total
                                        td.text-right= currency + sub_total
                                    tr
                                        td
                                        td
                                        td
                                        td
                                        td Shipping
                                        td.text-right= 'Free'
                                    tr
                                        td
                                        td
                                        td
                                        td
                                        td
                                            strong Total
                                        td.text-right
                                            strong= currency + total
                                            input(type='hidden' name='total' id='total' form='checkout')
            .col.mb-2
                .row
                    .col-sm-12.col-md-6
                        form(action='/products')
                            button.btn.btn-block.btn-light(type='submit') Continue Shopping
                    .col-sm-12.col-md-6.text-right
                        if(cart_data && cart_data.length > 0)
                            form(method='post' action='/checkout' id='checkout')
                                button.btn.btn-lg.btn-block.btn-success.text-uppercase(type='submit') Checkout
