extends layout

block content
    .container
        .row
            .col-md-6.col-md-offset-3.col-centered.mt-5
                .well.well-sm
                    form.form-horizontal(action='contact', method='post')
                        fieldset
                            legend.text-center Contact us
                            .form-group.text-center
                                strong(style='color: green') #{msg}

                            .form-group
                                label.col-md-3.control-label(for='name') Name
                                .col-md-9
                                    input#name.form-control(name='name', type='text', placeholder='Your name')
                            .form-group
                                label.col-md-3.control-label(for='email') Your E-mail
                                .col-md-9
                                    input#email.form-control(name='email', type='email', placeholder='Your email')
                            .form-group
                                label.col-md-3.control-label(for='subject') Subject
                                .col-md-9
                                    input#subject.form-control(name='subject', type='text', placeholder='Subject')
                            .form-group
                                label.col-md-3.control-label(for='message') Your message
                                .col-md-9
                                    textarea#message.form-control(name='message', placeholder='Please enter your message here...', rows='5')
                            .form-group
                                .col-md-12.text-right
                                    button.btn.btn-primary.btn-lg(type='submit') Submit
