extends layout

block content
    div.container
        div.row
            div.col-lg-10.col-centered
                div(id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel")
                    ol.carousel-indicators
                        li(data-target="#carouselExampleIndicators" data-slide-to="0" class="active")
                        li(data-target="#carouselExampleIndicators" data-slide-to="1")
                        li(data-target="#carouselExampleIndicators" data-slide-to="2")
                    div(class="carousel-inner" role="listbox")
                        div(class="carousel-item active")
                            img(class="d-block img-fluid" src="/images/web/slide/slide1.png" alt="First slide")
                        div(class="carousel-item")
                            img(class="d-block img-fluid" src="/images/web/slide/slide2.png" alt="Second slide")
                        div(class="carousel-item")
                            img(class="d-block img-fluid" src="/images/web/slide/slide3.png" alt="Third slide")
                    a(class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev")
                        span(class="carousel-control-prev-icon" aria-hidden="true")
                        span(class="sr-only") Previous
                    a(class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next")
                        span(class="carousel-control-next-icon" aria-hidden="true")
                        span(class="sr-only") Next


                div.row
                    for product in products
                        .col-lg-4.col-md-6.mb-4
                            .card.h-100
                                a(href='/product/' + product.product_id)
                                    img.card-img-top.img_350x200(src='/images/prod/' + product.image alt=product.name)
                                .card-body
                                    h4.card-title
                                        a(href='/product/' + product.product_id)= product.name
                                    h5.card-price= currency + product.price
                                    p.card-text= product.description
                                .card-footer.text-center
                                    button.btn.btn-primary(type='submit' name='id_p' value=product.product_id form='prod' + i) Shop Now
                                    form(action='/product' method='post' id='prod' + i).invisible