doctype html
html(lang='en')
    //link(href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css")
    //script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    //script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    head
        title Yerba Store

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="/stylesheets/style.css")
        link(rel="stylesheet" href="/stylesheets/F/webfont.css")
        link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")

        script(src="https://code.jquery.com/jquery-1.11.1.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous")

        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="/scripts/typeahead.min.js")
        link(rel="stylesheet" href="/stylesheets/typeaheadjs.css")
        link(rel="stylesheet" href="/stylesheets/ajax.css")

        link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css")
        script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")


        //link(href="bootstrap-3.1.0/dist/css/bootstrap.min.css" rel="stylesheet")
        ////link(href="typeaheadjs.css" rel="stylesheet")
        ////script(src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js")
        //link(href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css")
        //script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
        //script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")

    body
        block header
            img.background(src='/images/web/background/background-2.png' alt='background')
            include templates/header
        block content

        block footer
            include templates/footer