extends layout

block content
    .container
        .row.my-4
            - i = 0
            for product in products
                - i++
                .col-lg-3.col-md-6.mb-4
                    .card.h-100
                        a(href='/product/' + product.product_id)
                            if (product.stock > 0)
                                img.card-img-top.img_500x325(src='/images/prod/' + product.image alt=product.name).w3-hover-opacity

                            else
                                img.card-img-top.img_500x325.mask(src='/images/prod/' + product.image alt=product.name).w3-hover-opacity
                                .centered.w3-tag.w3-xlarge.w3-padding.w3-red Sold out

                        .card-body
                            h4.card-title
                                a(href='/product/' + product.product_id)= product.name
                            h5.card-price= currency + product.price
                            p.card-text= product.description
                        .card-footer.text-center
                            button.btn.btn-primary(type='submit' name='id_p' value=product.product_id form='prod' + i) Shop Now
                            form(action='/product' method='post' id='prod' + i).invisible
