extends layout

block content
    .container
        .row
            .col-lg-9.col-centered
                .card.mt-4
                    if (product.stock > 0)
                        img.card-img-top.img-fluid(src='/images/prod/' + product.image alt=product.name style='width: 400px').col-centered

                    else
                        img.card-img-top.img-fluid.mask(src='/images/prod/' + product.image alt=product.name style='width: 400px').col-centered
                        .centered.w3-tag.w3-xxlarge.w3-padding.w3-red Sold out
                  

                    .card-body
                        h3.card-title= product.name
                        .row
                            h4.ml-4= currency + product.price
                            p.p-3 Stock:
                                meter(value=product.stock min="10" low="25" high="90" max="100")
                        p.card-text= product.description
                        hr
                        .row
                            form(method='post' action='/product/' + product.product_id id='add')
                                input(type='hidden' name='id' value= product.product_id)
                                .btn-toolbar.ml-4
                                    .btn-group.mr-2.ml-2
                                        if (product.stock > 0)
                                            button.btn.btn-success(type='submit' form='add') Add to cart
                                        else
                                            button.btn.btn-secondary(type='button') Sold out

                                    .input-group
                                        .input-group-prepend
                                            button#dec.btn.btn-outline-secondary.rounded-left.dripicons-minus(type='button')
                                            if (product.stock === 0)
                                                input.form-control.col-2.text-center(type='text' name='count' id='quantity' value= 0)
                                            else
                                                input.form-control.col-2.text-center(type='text' name='count' id='quantity' value= 1)
                                            .input-group-append
                                            button#inc.btn.btn-outline-secondary.rounded-right.dripicons-plus(type='button')

                            script.
                                $('#inc').click(function () {
                                    var current = document.getElementById('quantity').value
                                    if (current < #{product.stock})
                                        $('#quantity').val(parseInt(current) + 1);
                                });

                                $('#dec').click(function () {
                                    var current = document.getElementById('quantity').value
                                    if (current > 1)
                                        $('#quantity').val(parseInt(current) - 1);
                                });

                                (function ($) {
                                    $.fn.inputFilter = function (inputFilter) {
                                        return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                                            if (inputFilter(this.value)) {
                                                this.oldValue = this.value;
                                                this.oldSelectionStart = this.selectionStart;
                                                this.oldSelectionEnd = this.selectionEnd;
                                            } else if (this.hasOwnProperty("oldValue")) {
                                                this.value = this.oldValue;
                                                this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                                            }
                                        });
                                    };
                                }(jQuery));
                                $("#quantity").inputFilter(function (value) {
                                    return /^\d*$/.test(value) && (value === 1 || parseInt(value) <= #{product.stock});
                                });