extends layout

block content
    .container
        .row.my-4
            for product in products
                .col-lg-3.col-md-6.mb-4
                    .card.h-100
                        img.card-img-top.img_500x325(src='/images/prod/' + product.image alt=product.name)
                        .card-body
                            h4.card-title
                                a(href='/product/' + product.product_id)= product.name
                            h5.card-price= currency + product.price
                            p.card-text= product.description

                        .card-footer.text-center
                            button.btn.btn-primary(type='submit' name='id_p' value=product.product_id form='prod') Shop Now
                            form(type='hidden' action='/product' method='post' id='prod')
