.topnav#navbar
    .search-container.row.align-items-center
        .col.order-first
            a.navbar-brand(href="/" style='color: white') Yerba Store
        .col-auto.text-center
            form(action="/search" id='search' method='post')
                input.typeahead.tt-query(type="text" placeholder="Search..." name="search" spellcheck="false" autocomplete="off")
                button(type="submit" form='search').rounded-right.invisible
        .col.order-last.text-left.d-flex.justify-content-end
            a.p-2(href="/cart" style='font-size:20px; color: white').dripicons-cart
            if isAuthenticated
                a.p-2(href="/user/profile" style='font-size:20px; color: white').dripicons-user
                a.p-2(href="/user/logout" style='font-size:17px; color: white')
                    b Logout
            else
                a.p-2(href="/user/register" style='font-size:17px; color: white') Register
                a.p-2(href="/user/login" style='font-size:17px; color: white') Login
    .hiding-menu
        a(href="/") Home
        a(href="/products") Products
        a(href="/about") About
        a(href="/contact") Contact

script(src="/scripts/menu.js")
script.
    $(document).ready(function () {
        $('input.typeahead').typeahead({
            name: 'countries',
            remote: 'http://localhost:3000/search?key=%QUERY',
            limit: 10
        });
    });