div.topnav#navbar
    div.search-container(class='row align-items-center')
        div(class='col order-first')
            a(class="navbar-brand" href="/admin" style='color: white') Yerba Store
        div(class='col text-center')
            form(action="./action_page.php")
                input(type="text" placeholder="Search..." name="search").invisible
        div(class='col order-last text-left d-flex justify-content-end')
            a(class="p-2" href="/admin/logout") Logout


    div.hiding-menu
        a(href="/admin/products") Products
        a(href="/admin/orders") Orders
        a(href="/admin/statistics") Statistics

script(src="/scripts/menu.js")
script sticky = -1;