extends ../layout
block content
    div.container
        .row.my-2.mt-5
            .col-lg-8.order-lg-2
                h2 Login

                form(action='login' method='post')
                    div.form-group
                        label(for='username') Username
                        input(type='text' name='username' id='username' class='form-control' placeholder='Username')
                    div.form-group
                        label(for='password') Password
                        input(type='password' name='password' id='password' class='form-control' placeholder='Password')
                    button(type='submit' class='btn btn-primary') Submit