extends ../layout


block content
    .container
        .row
            table.table.mt-5
                thead
                    tr
                        th(scope='col') ID
                        th(scope='col') Name
                        th(scope='col') Quantity
                        th(scope='col') Price
                        th(scope='col') Total price
                tbody
                    -i=0
                    for product in products
                        tr
                            th(scope='row')= product.product_id
                            td= product.product_name
                            td= product.quantity
                            td= product.price
                            td= product.quantity*product.price
                            -i += product.quantity*product.price
                    tr
                        td
                        td
                        td
                        th Total
                        td= i