extends ../layout
block content
    script(src='/scripts/tabToggle.js')
    .container
        .row.my-2.mt-5
            .col-lg-8.order-lg-2
                ul.nav.nav-tabs
                    li.nav-item
                        a.nav-link Password

                .tab-content.py-4
                    #pass.tab
                        form(action='/user/profile' id='cancel').invisible
                        form(action='/user/update_password'  method='post' id='update-p')
                            .form-group.row
                                label.col-lg-3.col-form-label.form-control-label Password
                                .col-lg-9
                                    input.form-control(type='password', value='' name='password')
                                    if errors
                                        for error in errors
                                            if error.param === "password"
                                                div(class='alert alert-danger')
                                                    p= error.msg
                            .form-group.row
                                label.col-lg-3.col-form-label.form-control-label Confirm password
                                .col-lg-9
                                    input.form-control(type='password', value='' name='passwordMach')
                                    if errors
                                        for error in errors
                                            if error.param === "passwordMatch"
                                                div(class='alert alert-danger')
                                                    p= error.msg
                            .form-group.row
                                label.col-lg-3.col-form-label.form-control-label
                                .col-lg-9
                                    input.btn.btn-secondary(type='submit', value='Cancel' form='cancel')
                                    input.btn.btn-primary(type='submit', value='Save Changes' class='ml-2' form='update-p')
