extends ../layout
block content
    script(src='/scripts/tabToggle.js')
    .container
        .row.my-2.mt-5
            .col-lg-8.order-lg-2
                ul.nav.nav-tabs
                    li.nav-item
                        a.nav-link(onclick="openTab('profile')") Profile
                    li.nav-item
                        a.nav-link(onclick="openTab('orders')") Orders
                    li.nav-item
                        a.nav-link(onclick="openTab('edit')") Edit
                    li.nav-item
                        a.nav-link(href='/user/password' style='color:black;') Password

                .tab-content.py-4
                    #profile.tab
                        h5.mb-3 Hi, #{user.first_name}
                        .row
                            .col-md-6
                                h6 Address
                                p
                                    | #{user.first_name} #{user.last_name}
                                    br
                                    | #{user.address}
                                    br
                                    | #{user.city}, #{user.state} #{user.zipcode}
                                    br
                                    | Phone: #{user.phone}
                            .col-md-12
                                h5.mt-2
                                    span.fa.fa-clock-o.ion-clock.float-right
                                    |  Recent Order
                                table.table.table-sm.table-hover.table-striped
                                    tbody
                                        for order in orders
                                            tr
                                                td
                                                    strong Order ID: #{order.order_id}
                                                    |   price : $#{order.total}
                                                    strong  #{order.date_time}

                    #orders.tab(style="display:none")
                        table.table.table-hover.table-striped
                            tbody
                                -i=0
                                for order in allOrders
                                    -i++
                                    tr
                                        td
                                            if (order.status === 0)
                                                a(href='/user/order/' + order.order_id)
                                                    span.float-right.font-weight-bold Pending
                                            else if (order.status === 1)
                                                a(href='/user/order/' + order.order_id style='color:green')
                                                    span.float-right.font-weight-bold Sent
                                            |  ID: ##{order.order_id} | Date:[#{order.date_time}]
                    #edit.tab(style="display:none")
                        form(action='/user/delete' method='post' id='delete').invisible
                        form(action='/user/profile' id='cancel').invisible
                        form(action='/user/update'  method='post' id='update')
                            .form-group.row
                                label.col-lg-3.col-form-label.form-control-label First name
                                .col-lg-9
                                    input.form-control(type='text', value=user.first_name name='first_name' id='first_name')
                            .form-group.row
                                label.col-lg-3.col-form-label.form-control-label Last name
                                .col-lg-9
                                    input.form-control(type='text', value=user.last_name name='last_name' id='last_name')
                                label.col-lg-3.col-form-label.form-control-label Address
                                .col-lg-6
                                    input.form-control(type='text', value=user.address, placeholder='Street' name='address' id='address' )
                                .col-lg-3
                                    input.form-control(type='text', value=user.zipcode, placeholder='ZIP Code' name='zipcode' id="zipcode" )
                            .form-group.row
                                label.col-lg-3.col-form-label.form-control-label
                                .col-lg-6
                                    input.form-control(type='text', value=user.city, placeholder='City' name='city' id='city')
                                .col-lg-3
                                    //input.form-control(type='text', value=user.state, placeholder='State' name='state')
                                    select(id="select-state" placeholder="Pick a state..." name='state').form-control
                                        if(user)
                                            option(value=user.state)= user.state
                                        else
                                            option(value="") Select a state...
                                        option(value="AL") Alabama
                                        option(value="AK") Alaska
                                        option(value="AZ") Arizona
                                        option(value="AR") Arkansas
                                        option(value="CA") California
                                        option(value="CO") Colorado
                                        option(value="CT") Connecticut
                                        option(value="DE") Delaware
                                        option(value="DC") District of Columbia
                                        option(value="FL") Florida
                                        option(value="GA") Georgia
                                        option(value="HI") Hawaii
                                        option(value="ID") Idaho
                                        option(value="IL") Illinois
                                        option(value="IN") Indiana
                                        option(value="IA") Iowa
                                        option(value="KS") Kansas
                                        option(value="KY") Kentucky
                                        option(value="LA") Louisiana
                                        option(value="ME") Maine
                                        option(value="MD") Maryland
                                        option(value="MA") Massachusetts
                                        option(value="MI") Michigan
                                        option(value="MN") Minnesota
                                        option(value="MS") Mississippi
                                        option(value="MO") Missouri
                                        option(value="MT") Montana
                                        option(value="NE") Nebraska
                                        option(value="NV") Nevada
                                        option(value="NH") New Hampshire
                                        option(value="NJ") New Jersey
                                        option(value="NM") New Mexico
                                        option(value="NY") New York
                                        option(value="NC") North Carolina
                                        option(value="ND") North Dakota
                                        option(value="OH") Ohio
                                        option(value="OK") Oklahoma
                                        option(value="OR") Oregon
                                        option(value="PA") Pennsylvania
                                        option(value="RI") Rhode Island
                                        option(value="SC") South Carolina
                                        option(value="SD") South Dakota
                                        option(value="TN") Tennessee
                                        option(value="TX") Texas
                                        option(value="UT") Utah
                                        option(value="VT") Vermont
                                        option(value="VA") Virginia
                                        option(value="WA") Washington
                                        option(value="WV") West Virginia
                                        option(value="WI") Wisconsin
                                        option(value="WY") Wyoming

                            .form-group.row
                                label.col-lg-3.col-form-label.form-control-label Phone
                                .col-lg-9
                                    input.form-control(type='text', value=user.phone, placeholder='Phone' name='phone' id='phone')
                            .form-group.row
                                label.col-lg-3.col-form-label.form-control-label
                                .col-lg-9
                                    input.btn.btn-secondary(type='submit', value='Cancel' form='cancel')
                                    input.btn.btn-primary(type='submit', value='Save Changes' class='ml-2' form='update')
                                    input.btn.btn-danger(type='submit', value='Delete' class='ml-2' form='delete')

    script.
        document.getElementById("delete").onsubmit = function onSubmit(form) {
            if (confirm("Are you sure you want to delete account?"))
                return true;
            else
                return false;
        };