extends ../layout
block content

    div.container

        .row.my-2.mt-5
            .col-lg-8.order-lg-2
                h1 #{title}

                form(action='register' method='post')
                    div.form-group
                        label(for='username') Username
                        input(type='text' id='username' name='username' class='form-control' placeholder="Username")
                        if errors
                            for error in errors
                                if error.param === "username"
                                    div(class='alert alert-danger')
                                        p= error.msg
                    div.form-group
                        label(for='email') E-mail
                        input(type='email' id='email' name='email' class='form-control' placeholder="E-mail")
                        if errors
                            for error in errors
                                if error.param === "email"
                                    div(class='alert alert-danger')
                                        p= error.msg
                    div.form-group
                        label(for='password') Password
                        input(type='password' id='password' name='password' class='form-control' placeholder="Password")
                        if errors
                            for error in errors
                                if error.param === "password"
                                    div(class='alert alert-danger')
                                        p= error.msg
                    div.form-group
                        label(for='passwordMatch') Re-enter Password
                        input(type='password' id='passwordMatch' name='passwordMatch' class='form-control' placeholder="Password")
                        if errors
                            for error in errors
                                if error.param === "passwordMatch"
                                    div(class='alert alert-danger')
                                        p= error.msg
                    //input(type='hidden' name='_csrf' value=csrfToken)
                    button(type='submit' class='btn btn-primary') Sign Up


