@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
* {
  box-sizing: border-box; }

body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; }

footer {
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  z-index: -999; }

.centered {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  transform: rotate(-5deg); }

.mask {
  -webkit-filter: brightness(35%);
  filter: brightness(35%); }

.img_50x50 {
  width: 50px;
  height: 50px; }

.img_100x100 {
  width: 100px;
  height: 100px; }

.img_900x400 {
  width: 225px;
  height: 100px;
  object-fit: scale-down; }

.img_350x200 {
  width: 350px;
  height: 200px;
  object-fit: contain; }

.img_500x325 {
  width: 500px;
  height: 325px;
  object-fit: contain; }

.background {
  width: auto;
  max-width: 100%;
  min-width: -moz-available;
  height: auto; }

.col-centered {
  float: none;
  margin: 0 auto; }

.search-container {
  width: 100%; }

.hiding-menu {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  background-color: #4d4d4f; }

.logo {
  float: left;
  padding: 10px 0;
  width: 20%;
  height: auto; }

.topnav {
  overflow: hidden;
  background-color: #323234;
  display: flex;
  flex-direction: column;
  z-index: 9999; }
  .topnav .hiding-menu a {
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; }
    .topnav .hiding-menu a:hover {
      background-color: lightgreen;
      color: black; }
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 17px;
    border: none; }
  .topnav .search-container {
    align-self: center; }
    .topnav .search-container button {
      /*float: right; */
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 16px;
      background: #dddddd;
      font-size: 17px;
      border: none;
      cursor: pointer; }
      .topnav .search-container button:hover {
        background: #cccccc; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none; }
  .topnav .hiding-menu a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px; }
  .topnav input[type=text] {
    border: 1px solid #ccc; } }

/*# sourceMappingURL=style.css.map */